/* Increase thickness of header horizontal rule */
.header {
    border-bottom: 3px solid #7d97ad;
}

/* Google fonts definitions */
body {
    font-family: "Ubuntu", sans-serif;
}

.name {
    font-weight: 500;
}

.title {
    font-weight: 400;
}

/* Border testing on/off */
/*
* {
    border: 0px solid black;
}
*/

/* Logo image dimensions in header */
.logo {
    width:  100px;
    height: 100px;
}

.featured-img {
    max-width: 100%;
}

#jumbo {
    padding: 0px 13px 0px 13px;
    background-color: transparent;
}

a:hover, a:focus, a:visited {
    text-decoration: none;
}
